html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    min-height: 100%;
    font-family: roboto, sans-serif;
    font-weight:300;
}

a{
    text-decoration:none;
}

html [hidden]{
    display:none !important;
}

.clearfix{
    clear:both;
}

html /deep/ .clearfix{
    clear:both;
}

code{
    display:block;
}