/* Included Padding Vars */
/* Included Sizes Vars */
html /deep/ .p-0 {
  padding: 0; }

html /deep/ .p-0-1 {
  padding: 0.1em; }

html /deep/ .p-0-2 {
  padding: 0.2em; }

html /deep/ .p-0-5 {
  padding: 0.5em; }

html /deep/ .p-1 {
  padding: 1em; }

html /deep/ .p-1-5 {
  padding: 1.5em; }

html /deep/ .p-2 {
  padding: 2em; }

html /deep/ .p-3 {
  padding: 3em; }

html /deep/ .p-4 {
  padding: 4em; }

html /deep/ .p-t-0 {
  padding-top: 0; }

html /deep/ .p-t-0-1 {
  padding-top: 0.1em; }

html /deep/ .p-t-0-2 {
  padding-top: 0.2em; }

html /deep/ .p-t-0-5 {
  padding-top: 0.5em; }

html /deep/ .p-t-1 {
  padding-top: 1em; }

html /deep/ .p-t-2 {
  padding-top: 2em; }

html /deep/ .p-t-3 {
  padding-top: 3em; }

html /deep/ .p-t-4 {
  padding-top: 4em; }

html /deep/ .p-l-0 {
  padding-left: 0; }

html /deep/ .p-l-0-1 {
  padding-left: 0.1em; }

html /deep/ .p-l-0-2 {
  padding-left: 0.2em; }

html /deep/ .p-l-0-5 {
  padding-left: 0.5em; }

html /deep/ .p-l-1 {
  padding-left: 1em; }

html /deep/ .p-l-2 {
  padding-left: 2em; }

html /deep/ .p-l-3 {
  padding-left: 3em; }

html /deep/ .p-l-4 {
  padding-left: 4em; }

html /deep/ .p-r-0 {
  padding-right: 0; }

html /deep/ .p-r-0-1 {
  padding-right: 0.1em; }

html /deep/ .p-r-0-2 {
  padding-right: 0.2em; }

html /deep/ .p-r-0-5 {
  padding-right: 0.5em; }

html /deep/ .p-r-1 {
  padding-right: 1em; }

html /deep/ .p-r-2 {
  padding-right: 2em; }

html /deep/ .p-r-3 {
  padding-right: 3em; }

html /deep/ .p-r-4 {
  padding-right: 4em; }

html /deep/ .p-b-0 {
  padding-bottom: 0; }

html /deep/ .p-b-0-1 {
  padding-bottom: 0.1em; }

html /deep/ .p-b-0-2 {
  padding-bottom: 0.2em; }

html /deep/ .p-b-0-5 {
  padding-bottom: 0.5em; }

html /deep/ .p-b-1 {
  padding-bottom: 1em; }

html /deep/ .p-b-2 {
  padding-bottom: 2em; }

html /deep/ .p-b-3 {
  padding-bottom: 3em; }

html /deep/ .p-b-4 {
  padding-bottom: 4em; }

html /deep/ .m-0 {
  margin: 0; }

html /deep/ .m-0-1 {
  margin: 0.1em; }

html /deep/ .m-0-2 {
  margin: 0.2em; }

html /deep/ .m-0-5 {
  margin: 0.5em; }

html /deep/ .m-1 {
  margin: 1em; }

html /deep/ .m-1-5 {
  margin: 1.5em; }

html /deep/ .m-2 {
  margin: 2em; }

html /deep/ .m-3 {
  margin: 3em; }

html /deep/ .m-4 {
  margin: 4em; }

html /deep/ .m-t-0 {
  margin-top: 0; }

html /deep/ .m-t-0-1 {
  margin-top: 0.1em; }

html /deep/ .m-t-0-2 {
  margin-top: 0.2em; }

html /deep/ .m-t-0-5 {
  margin-top: 0.5em; }

html /deep/ .m-t-1 {
  margin-top: 1em; }

html /deep/ .m-t-2 {
  margin-top: 2em; }

html /deep/ .m-t-3 {
  margin-top: 3em; }

html /deep/ .m-t-4 {
  margin-top: 4em; }

html /deep/ .m-l-0 {
  margin-left: 0; }

html /deep/ .m-l-0-1 {
  margin-left: 0.1em; }

html /deep/ .m-l-0-2 {
  margin-left: 0.2em; }

html /deep/ .m-l-0-5 {
  margin-left: 0.5em; }

html /deep/ .m-l-1 {
  margin-left: 1em; }

html /deep/ .m-l-2 {
  margin-left: 2em; }

html /deep/ .m-l-3 {
  margin-left: 3em; }

html /deep/ .m-l-4 {
  margin-left: 4em; }

html /deep/ .m-r-0 {
  margin-right: 0; }

html /deep/ .m-r-0-1 {
  margin-right: 0.1em; }

html /deep/ .m-r-0-2 {
  margin-right: 0.2em; }

html /deep/ .m-r-0-5 {
  margin-right: 0.5em; }

html /deep/ .m-r-1 {
  margin-right: 1em; }

html /deep/ .m-r-2 {
  margin-right: 2em; }

html /deep/ .m-r-3 {
  margin-right: 3em; }

html /deep/ .m-r-4 {
  margin-right: 4em; }

html /deep/ .m-b-0 {
  margin-bottom: 0; }

html /deep/ .m-b-0-1 {
  margin-bottom: 0.1em; }

html /deep/ .m-b-0-2 {
  margin-bottom: 0.2em; }

html /deep/ .m-b-0-5 {
  margin-bottom: 0.5em; }

html /deep/ .m-b-1 {
  margin-bottom: 1em; }

html /deep/ .m-b-2 {
  margin-bottom: 2em; }

html /deep/ .m-b-3 {
  margin-bottom: 3em; }

html /deep/ .m-b-4 {
  margin-bottom: 4em; }

/* Floats */
html /deep/ .f-left {
  float: left !important; }

html /deep/ .f-right {
  float: right !important; }

/* Positioning */
html /deep/ .p-relative {
  position: relative; }

html /deep/ .p-absolute {
  position: absolute; }

html /deep/ .p-fixed {
  position: fixed; }

html /deep/ .p-static {
  position: static; }

/* Displaying */
html /deep/ .d-inherit {
  display: inherit; }

html /deep/ .hidden {
  display: none; }

/* Fillings */
html /deep/ .fill-dom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

html /deep/ .fill-vertical {
  width: 100%;
  display: inline-block; }

/* Text Align */
html /deep/ .t-right {
  text-align: right; }

html /deep/ .t-left {
  text-align: left; }

html /deep/ .t-center {
  text-align: center; }

html /deep/ .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Z-Index */
html /deep/ .z-index-1 {
  z-index: 1; }

/* Polymer Compoents */
html /deep/ iron-icon {
  float: left; }

html /deep/ code {
  padding: 0.1em; }

@media (min-width: 800px) {
  [drawer-classes*="left-locked"] paper-toast {
    left: 18.5em; } }
@media (max-width: 800px) {
  paper-toast {
    left: 0;
    width: 100%;
    z-index: 3; } }

/*# sourceMappingURL=position.css.map */
