<link rel="import" href="../../components/pd-realtime/pd-realtime.html" />
<dom-module id="pd-realtime-client">
    <template>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-realtime-client",
        properties: {
            socket:{
                type:Object,
                value:{}
            }
        },
        ready: function () {
            this.setupRealtime();
        },
        getSocket:function(){
            return window.document.querySelector("pd-realtime#pd-realtime").socket;
        },
        setupRealtime: function () {
            var self = this;
            if (!window.document.querySelector("pd-realtime#pd-realtime")) {
                var divReal = document.createElement("pd-realtime");
                divReal.id = 'pd-realtime';
                window.document.body.appendChild(divReal);
            }
            var dom = window.document.querySelector("pd-realtime#pd-realtime");
            self.socket = dom.socket;
        }
    });
</script>