@import '../../css/vars.scss';

$container-width:450px;

.main-container {
    width:$container-width;
    margin: 0 auto;
    display:inline-block;
    background: #fff;
    box-shadow: 0 1px 11px rgba(0,0,0,.27);
    vertical-align: middle;
    position: relative;
    box-sizing:border-box;
}

@media (max-width: $container-width + 20px ) {
    .main-container {
        width:90%;
    }
}