<script src="../../bower_components/chartist-js/dist/chartist.min.js"></script>
<dom-module id="pd-chart">
    <link rel="stylesheet" type="text/css" href="../../bower_components/chartist-js/dist/chartist.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../components/pd-chart/pd-chart.css"/>
    <template>
        <div id="chartWrapper">
            <div id="chart" class="ct-chart"></div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-chart",
        properties: {
            data:{
                type: Object,
                reflectToAttribute:true
            },
            options:{
                type: Object,
                reflectToAttribute:true
            },
            responsiveOptions:{
                type: Object,
                reflectToAttribute:true
            },
            width:{
                type:String,
                reflectToAttribute:true
            },
            height:{
                type:String,
                reflectToAttribute:true
            },
            chartType:{
                type:String,
                reflectToAttribute:true
            }
        },
        ready: function () {
            var self = this;
            if(this.width != null && this.width != ''){
                this.$.chart.style.width = this.width;
            }
            if(this.height != null && this.height != ''){
                this.$.chart.style.height = this.height;
            }
            self.async(function(){
                Chartist.querySelector = function(query) {
                    return query instanceof Node ? query : self.$.chartWrapper.querySelector(query);
                };
                Chartist.querySelectorAll = function(selector) {
                    var foundNodes = self.$.chartWrapper.querySelectorAll(selector);
                    return foundNodes.length ? new Chartist.Svg.List(foundNodes) : null;
                }
                var chartType = self.chartType;
                eval("new Chartist." + chartType + "('.ct-chart', self.data, self.options, self.responsiveOptions)");
            },500);

        }
    });
</script>