@import 'vars';

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    margin-top:$p-1;
    margin-bottom:$p-0-5;
}

h1{
    font-size: 1.2em;
}

h2{
    font-size: 1.2em;
}

h3{
    font-size: 1.1em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 0.9em;
}

h6{
    font-size: 0.8em;
}