@import '../../css/vars.scss';

/* Top Bar */
paper-toolbar.paper-toolbar-0, .paper-toolbar {
    font-weight: 300 !important;
    position:fixed;
    display: inline-block;
    width: 100%;
    height: 2.6em;
    padding:0.7em 0;
    z-index:1;
}
.toolbar-tools.paper-toolbar {
    padding: 0 !important;
}
paper-icon-button {
    line-height: 16px;
}
.top-stuff {
    padding-top: 4em;
}

/* Main Container */
.main{
    width: 100%;
    position: fixed;
    top: 4em;
    height: 100%;
    box-sizing:border-box;
}

#main{
    max-width: 1000px;
    margin: 0 auto;
}

.main-section{
    box-sizing:border-box;
}

/* Drawers */
.left-drawer, .right-drawer{
    height: calc(100% - 4em);
    position: fixed;
    top: 4em;
    overflow-y: hidden;
    transition: transform ease-in-out 0.3s;
    width:$drawer-width;
    overflow-x:hidden;
}
.drawer-inner-width{
    width:$drawer-width;
}
.drawer-inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    overflow: auto;
    height: 100%;
    overflow-y: auto;
    width: 300px;
}
.right-drawer{
    right:-$drawer-width;
    z-index:3;
}
.left-drawer{
    left:-$drawer-width;
    z-index:3;
}
.left-show .left-drawer{
    visibility:visible;
    width:$drawer-width;
    transform:translate($drawer-width);
}
.right-show .right-drawer{
    transform:translate(-$drawer-width);
}
.scrim{
    display:none;
}
.main-section, .left-show .scrim, .right-show .scrim{
    @include fill-dom();
    display:block;
}
.main-section{
      height: calc(100% - 4em);
    overflow: auto;
}
.mobile-mode{
    display:none;
}

.main iron-icon{
    height: 1.1em !important;
    width: 1.1em !important;
}

@media (min-width: $tablet-mode) {

    .right-locked .main-section{
        width:calc(100% - 15em);
    }
    .left-locked .left-drawer, .right-locked .right-drawer{
        visibility:visible;
        width:$drawer-width;
        display:block;
    }
    .right-locked .right-drawer{
       transform:translate(-$drawer-width);
    }
    .left-locked .left-drawer{
        transform:translate($drawer-width);
    }
    .left-locked .main-section{
        padding-left:$drawer-width;
    }
    .left-locked .left-show-btn, .right-locked .right-show-btn{
        display:none;
    }
    .left-locked .pd-toolbar-header{
        padding-left:$p-1;
    }
    .pin-btn{
        @include position-top-right();
        right:3.8em;
    }
    .left-drawer .pin-btn{
        left: 12.9em;
    }
    .right-drawer .pin-btn{
          right: 3.5em;
    }
    .mobile-mode{
        display:block;
    }
}

@media (max-width: $polymer-mobile-mode) {
    .main{
        top:3.6em;
    }
}

@media (max-width: $tablet-mode) {
    .pin-btn{
        display:none;
    }
    .left-locked .main-section{
        padding-left:0;
    }
    .right-locked .main-section{
        padding-right:0;
    }
    .left-locked .left-show-btn, .right-locked .right-show-btn{
        display:block;
    }
}


