<link href="../../../components/pd-repo/pd-repo-menu.html" rel="import" />
<link href="../../../components/pd-repo/pd-repo-profile.html" rel="import" />
<dom-module id="pd-drawer-menu">
    <link rel="import" type="css" href="pd-drawer-menu.css" />
    <template>
        <pd-repo-profile id="repo"></pd-repo-profile>
        <div id="drawer" class="drawer-profile">
            <pd-ui-toggle>
                <div id="profileBox" class="drawer-profile-name c-text-light toggle-trigger">
                    <pd-list-item url="" position="right" icon="hardware:keyboard-arrow-down" class="drawer-profile-menu-toggle">
                        <span>{{profile.username}}</span>
                    </pd-list-item>
                </div>
                <div class="drawer-profile-menu toggle-body c-b-b-dark">
                    <pd-list-menu title="user" position="left"></pd-list-menu>
                </div>
            </pd-ui-toggle>
        </div>
        <div id="fixedHeight">
            <pd-list-menu title="main" position="left"></pd-list-menu>
        </div>
    </template>
</dom-module>
<script>
  Polymer({
      is: "pd-drawer-menu",
      properties:{
        profile:{
            type:Object,
            value:{},
            notify:true
        }
      },
      ready: function () {
          var self = this;
          this.$.profileBox.toggleIcon = false;
          self.async(function(){
              self.$.repo.getProfile(self.getProfileCallback, self);
          },100);
          this.$.repo.$.context.getData().addEventListener("pd-data-updated-model.profile", function (event) {
              self.profile = event.detail.value;
          });
      },
      getProfileCallback:function(profile, self){
      }
  });
</script>