<link href="../../bower_components/paper-input/paper-input.html" rel="import" />
<link href="../../bower_components/paper-button/paper-button.html" rel="import" />
<dom-module id="pd-chat-footer">
    <style>
        .chat-footer{
            padding-bottom: 1em;
            padding-left: 1em;
            padding-top:1em;
            border-top:1px solid var(--color-neutral-dark);
            background-color:var(--color-neutral-light);
            position: fixed;
            bottom: 0;
            left: 0;
            right:0;
            box-sizing: border-box;
        }
        .respond-input-wrapper{
            width:100%;
            padding-right:7em;
            box-sizing:border-box;
        }
        .respond-btn{
            position: absolute;
            right: 0.5em;
            bottom: 1em;
        }
        .respond-input{
            margin-top:0.5em;
        }
    </style>
    <template>
        <pd-repo-chat id="repo"></pd-repo-chat>
        <iron-a11y-keys target="{{chatFooter}}" keys="enter" on-keys-pressed="sendMessage"></iron-a11y-keys>
        <div id="chatFooter" class="chat-footer">
            <div class="respond-input-wrapper">
                <paper-input autofocus no-label-float class="respond-input"></paper-input>
            </div>
            <paper-button raised class="colorful respond-btn">Send</paper-button>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-chat-footer",
        properties: {
        },
        ready:function(){
            var self = this;
            this.async(function(){
                self.querySelector(".respond-input").$.input.focus();
            },200);
        },
        sendMessage:function(){
            var sendValue = this.querySelector(".respond-input").value;
            if(sendValue != "") {
                this.$.repo.sendMessage(sendValue);
                this.querySelector(".respond-input").value = "";
            }
        }
    });
</script>