<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../components/pd-repo/pd-context.html" />
<script src="director/director.min.js"></script>

<dom-module id="pd-flatiron-director">
    <template>
        <pd-context id="context"></pd-context>
    </template>
</dom-module>

<script>
    (function () {
        var private_router;
        Polymer({
            is: "pd-flatiron-director",
            properties: {
                autoHash: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },
                route: {
                    type: String,
                    value: "",
                    notify: true,
                    reflectToAttribute:true,
                    observer: 'routeChanged'
                }
            },
            ready: function () {
                var self = this;
                self.router.on(/(.*)/, function (route) {
                    self.route = route;
                }.bind(self));
                self.route = self.router.getRoute() ?
                    self.router.getRoute().join(self.router.delimiter) : '';
                if(self.route == "")
                    window.location.hash = '!/';
            },
            routeChanged: function (newValue, oldValue) {
                if (newValue == null || newValue == "")
                    return;
                if (this.autoHash) {
                    window.location.hash = this.route;
                }
                this.$.context.getData().update("route", this.route);
            },
            get router() {
                if (!private_router) {
                    private_router = new Router();
                    private_router.init();
                }
                return private_router;
            }
        });
    })();
</script>