<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="pd-data">
    <template></template>
</dom-module>

<script>
  Polymer({
    is: "pd-data",
    properties: {
        service: {
            type: String,
            value:"",
            reflectToAttribute:true,
            notify:true
        },
        model: {
            type: Object,
            value: {
                user: {},
                profile: null,
                friends:[],
                pages: [],
                menus: [],
                route: "",
                routeParams:{},
                progress:0
            }
        }
    },
    observers: [
        'modelChanged(model.*)'
    ],
    modelChanged: function (changeRecord) {
        var val = changeRecord.value;
        var path = changeRecord.path;
        this.fire("pd-data-updated-" + path, { value: val });
    },
    update: function (property, value) {
        this.set('model.' + property, value);
    }
  });
</script>