@import '../../css/vars.scss';

@media (min-width: $tablet-mode) {
  .left-locked .chat-footer, .left-locked .message-wrapper {
    left: $drawer-width !important;
  }
  .right-locked .chat-footer{
    right: $drawer-width !important;
  }
  .left-locked .message-wrapper{
    width:calc(100% - 15em) !important;
  }
}