@import '../../css/vars.scss';

@media (min-width: $tablet-mode) {
  .left-locked /deep/ pd-chat-footer {
    padding-left: $drawer-width;
  }

  .left-locked /deep/ .messages  {
    padding-left: $drawer-width;
  }

  .right-locked /deep/ pd-chat-footer {
    padding-right: $drawer-width;
  }
}

html /deep/ pd-chat-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-top:1px solid #dfdfdf;
}