<link rel="import" href="../../components/pd-repo/pd-repo-chat.html" />
<link rel="import" href="../../components/pd-chat/pd-chat-footer.html" />
<link rel="stylesheet" type="text/css" href="../../components/pd-chat/pd-chat-global.css" />

<dom-module id="pd-chat">
    <link rel="import" type="css" href="../../components/pd-chat/pd-chat.css" />
    <style>
        .left .message-bubble{
            background-color:var(--primary-color-highlight);
        }
        .left .message-bubble:after{
            border-color: transparent var(--primary-color-highlight);
        }
        .message{
            color:var(--color-neutral-text);
        }
        .message-user, .message-datetime{
            color:var(--color-neutral-text-dark);
        }
    </style>
    <template>
        <pd-repo-chat id="repo"></pd-repo-chat>
        <div  class="p-1 messages">
            <template is="dom-repeat" items="{{messages}}">
                <div class$="{{messageClasses(item.user)}}">
                    <div class="message-bubble">
                        <div class="message-user">{{item.user}}</div>
                        <span>{{item.message}}</span>
                    </div>
                    <div class="message-datetime">
                        <span>{{item.datetime}}</span>
                    </div>
                </div>
            </template>
        </div>
        <pd-chat-footer></pd-chat-footer>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-chat",
        properties: {
            messages:{
                type:Array,
                value:[],
                notify:true
            },
            threadId:{
                type:Number,
                value:0,
                notify: true,
                reflectToAttribute:true
            },
            users:{
                type:Array,
                value:[],
                notify: true,
                reflectToAttribute:true
            },
            previousUser:{
                type:String,
                value:""
            }
        },
        observers:[
            "usersChanged(users.*)"
        ],
        messageClasses:function(user){
            var self = this;
            if(self.previousUser == "")
                self.previousUser = user;
            if(user == self.previousUser){
                return "message left";
            }else{
                return "message right";

            }
        },
        ready: function () {
            this.$.repo.getThread(this.users, this.callback, this);
        },
        usersChanged: function(){
            this.$.repo.getThread(this.users, this.callback, this);
        },
        callback: function(response, self){
            self.set("messages",[]);
            if(response != null) {
                self.messages = response.messages;
                self.threadId = response.id;
            }
        }
    });
</script>