@import '../../css/vars.scss';

.main-section, .messages{
  height: calc(100% - 9em) !important;
}

@media (min-width: $tablet-mode) {

  .left-locked /deep/ pd-chat-footer {
    padding-left: $drawer-width;
  }

  .right-locked /deep/ pd-chat-footer {
    padding-right: $drawer-width;
  }
}

html /deep/ pd-chat-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  border-top:1px solid #dfdfdf;
}