<link rel="import" href="../../components/pd-repo/pd-repo-chat.html" />
<link rel="import" href="../../components/pd-chat/pd-chat-footer.html" />
<link type="text/css" rel="stylesheet" href="../../components/pd-chat/pd-chat-global.css" />

<dom-module id="pd-chat">
    <link rel="import" type="css" href="../../components/pd-chat/pd-chat.css" />
    <style>
        .left .message-bubble{
            background-color:var(--primary-color-highlight);
        }
        .left .message-bubble:after{
            border-color: transparent var(--primary-color-highlight);
        }
        .message{
            color:var(--color-neutral-text);
        }
        .message-user, .message-datetime{
            color:var(--color-neutral-text-dark);
        }
        .hidden{
            display:none;
        }
    </style>
    <template>
        <pd-repo-chat id="repo"></pd-repo-chat>
        <div class$="{{_noMessage(messages.length)}}">
            <div class="p-1">No Messages</div>
        </div>
        <div id="wrapper" class="message-wrapper">
            <div id="messages" class="messages">
                <div class="p-1">
                <template is="dom-repeat" items="{{messages}}">
                    <div class$="{{messageClasses(item.user)}}">
                        <div class="message-bubble">
                            <div class="message-user">{{item.user}}</div>
                            <span>{{item.message}}</span>
                        </div>
                        <div class="message-datetime">
                            <span>{{item.datetime}}</span>
                        </div>
                    </div>
                </template>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <pd-chat-footer></pd-chat-footer>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-chat",
        properties: {
            messages:{
                type:Array,
                value:[],
                notify:true
            },
            threadId:{
                type:Number,
                value:0,
                notify: true,
                reflectToAttribute:true
            },
            users:{
                type:Array,
                value:[],
                notify: true,
                reflectToAttribute:true
            },
            previousUser:{
                type:String,
                value:""
            }
        },
        observers:[
            "usersChanged(users.*)"
        ],
        _noMessage:function(length){
            if(length > 0)
                return "hidden";
            return "";
        },
        messageClasses:function(user){
            var self = this;
            if(self.previousUser == "")
                self.previousUser = user;
            if(user == self.previousUser){
                return "message left";
            }else{
                return "message right";

            }
        },
        ready: function () {
            var self = this;
            if(this.users.length > 0) {
                this.$.repo.getThread(this.users, this.callback, this);
            }
            this.$.repo.addEventListener("messageReceived", function(e){
                var msgObj = e.detail;
                self.push("messages", {'user':msgObj.user, 'message':msgObj.message, 'datetime':msgObj.datetime});
                self.scrollToBottom(self);
            });
        },
        usersChanged: function(){
            this.$.repo.getThread(this.users, this.callback, this);
        },
        scrollToBottom:function(self){
            self.async(function(){
                self.$.wrapper.scrollTop = self.$.wrapper.scrollHeight;
            },0);
        },
        callback: function(response, self){
            self.set("messages",[]);
            if(response != null) {
                self.set("messages",response.messages);
                self.threadId = response.id;
            }
            self.scrollToBottom(self);
        }
    });
</script>