<link href="../../components/pd-repo/pd-repo-menu.html" rel="import" />
<dom-module id="pd-list-menu">
    <link rel="import" type="css" href="../../components/pd-list/pd-list-menu.css" />
    <template>
        <pd-repo-menu id="repo"></pd-repo-menu>
        <ul id="list" class="pd-drawer-list c-text m-t-0-5 m-b-0-5">
            <template is="dom-repeat" items="{{menuPages}}">
                <li class$="{{computeRouteUrl(routeUrl, item.url)}}">
                    <pd-ui-toggle toggle-icon="{{showToggleIcon(item.pages)}}" toggle-status="{{subPageSelected(routeUrl, item.pages)}}">
                        <pd-list-item class="toggle-trigger" position="{{position}}" icon="{{item.icon}}" url="{{item.url}}">
                            <span>{{item.title}}</span>
                        </pd-list-item>
                        <div class="toggle-body">
                            <ul class="inline-height c-text">
                                <template is="dom-repeat" items="{{item.pages}}" as="subpage">
                                    <li class$="{{computeRouteUrl(routeUrl, subpage.url)}}">
                                        <pd-list-item position="{{position}}" icon="{{subpage.icon}}" url="{{subpage.url}}">
                                            <span>{{subpage.title}}</span>
                                        </pd-list-item>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </pd-ui-toggle>
                </li>
            </template>
        </ul>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-list-menu",
        properties: {
            position: {
                type: String,
                value: ""
            },
            title:{
                type:String,
                value: "",
                reflectToAttribute: true,
                notify:true
            },
            menuPages: {
                type: Array,
                value: [],
                notify: true
            },
            routeUrl: {
                type: String,
                value:"",
                notify: true,
                readOnly: false
            }
        },
        ready: function () {
            var self = this;
            self.$.repo.$.context.getData().addEventListener("pd-data-updated-model.route", function (event) {
                self.routeUrl = event.detail.value;
            });
            self.async(function(){
                self.$.repo.getMenu(self.title, self.menuCallback, self);
            },0);
        },
        computeRouteUrl: function (routeUrl, url) {
            if (url == '#' + routeUrl || url == routeUrl)
                return "active";
            return "";
        },
        subPageSelected: function (routeUrl, subpages) {
            for (var i = 0; i <= subpages.length - 1; i++) {
                if (subpages[i].url == routeUrl || subpages[i].url == '#' + routeUrl)
                {
                    return true;
                }
            }
            return false;
        },
        showToggleIcon: function (pages) {
            if (pages != null && pages.length > 0) {
                return true;
            }
            return false;
        },
        menuCallback: function (pages, self) {
            for (var i in pages) {
                self.push('menuPages', pages[i]);
            }
        }
  });
</script>