<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<dom-module id="pd-search">
    <style>
        .search-overlay{

            display:inline-block;
            background-color:var(--primary-color-light);

        }
        .search-form, .search-overlay{
            width:100%;
            position:absolute;
            left:0em;
            top:0em;
            padding:0 3.5em;
            height: 100%;
            box-sizing:border-box;;
        }
        .search-hidden .search-form{
            display:none;
        }
        .close-btn{
            position:absolute;
            right:0.5em;
            top:22%;
        }
        .search-overlay .search-btn{
            left:0.5em;
            top:22%;
            position:absolute;
        }
        .search-input{
            width: 100%;
            top: 20%;
            position: relative;
        }
    </style>
    <template>
        <iron-a11y-keys target="{{searchForm}}" keys="enter" on-keys-pressed="searchAction"></iron-a11y-keys>
        <div class$="{{overlayClasses}}">
            <paper-icon-button icon="search" class="f-right search-btn" on-click="search"></paper-icon-button>
            <div class="search-form" id="searchForm">
                <paper-input autofocus no-label-float class="search-input f-left"></paper-input>
                <paper-icon-button class="f-right close-btn" on-click="close" icon="close"></paper-icon-button>
            </div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-search",
        properties: {
            searchEnabled:{
                type:Boolean,
                value:false,
                notify:true
            },
            overlayClasses:{
                type:String,
                value:"",
                computed:"_computeClasses(searchEnabled)",
                notify:true
            }
        },
        _computeClasses:function(searchEnabled){
            if(searchEnabled)
                return "search-overlay";
            return"search-hidden";
        },
        searchAction:function(){
            this.fire("search",this.querySelector(".search-input").value);
        },
        search:function(){
            this.set("searchEnabled", true);
            this.querySelector(".search-input").$.input.focus();
            this.querySelector(".search-input").value = "";
        },
        close:function(){
            this.set("searchEnabled", false);
            this.fire("searchClosed");
        },
        ready:function(){
        }
    });
</script>