<dom-module id="pd-list-item-friend">
    <style>
        :host{
            display:inline-block;
            width:100%;
            border-bottom:1px solid var(--color-neutral-dark);
        }
        :host:hover{
            background-color: var(--primary-color-highlight);
            cursor:pointer;
        }
        :host[selected]{
            background-color: var(--primary-color-highlight);
            font-weight:500;
        }
    </style>
    <template>
        <div class="p-t-0-5 p-b-0-5">
            <pd-ui-grid>
                <pd-ui-grid-item large="7" medium="7" large="7">
                    <iron-icon icon="{{icon}}" name="{{icon}}"></iron-icon>
                </pd-ui-grid-item>
                <pd-ui-grid-item large="17" medium="17" large="17">
                    <span>{{name}}</span><br/>
                    <span>{{status}}</span>
                </pd-ui-grid-item>
            </pd-ui-grid>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-list-item-friend",
        properties: {
            name: {
                type: String,
                value: true,
                reflectToAttribute: true,
                notify:true
            },
            icon: {
                type: String,
                value: "",
                reflectToAttribute: true,
                notify: true
            },
            status: {
                type: String,
                reflectToAttribute: true,
                value:"",
                notify: true
            },
            selected: {
                type: Boolean,
                value:false,
                reflectToAttribute: true,
                notify: true
            }
        },
        ready: function () {

        }
    });
</script>