.pd-drawer-list {
    list-style-type: none;
    padding: 0;
}

.pd-drawer-list li {
    display: block;
}

.pd-drawer-list, .pd-drawer-list ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.pd-drawer-list ul li {
    position: relative;
}

.active .toggle-trigger, li.active{
    font-weight:500;
}

