<dom-module id="pd-card">
    <link rel="import" type="css" href="../../components/pd-card/pd-card.css" />
    <style>
        :host{
            display:inline-block;
            width:100%;
            box-sizing:border-box;
        }
        .header{
            margin:0;
        }
        .pd-card-wrapper{
            box-sizing:border-box;
        }
    </style>
    <template>
        <div class="pd-card-wrapper m-r-1 m-l-1 m-t-1  c-text c-text-bg">
            <template is="dom-if" if="{{head}}">
                <h2 class="header c-n-light c-b-b-dark p-t-0-5 p-b-0-5 p-l-1 p-r-1">
                    <span>{{head}}</span>
                </h2>
            </template>
            <div class$="{{fillClasses}}">
                <content></content>
            </div>
            <div class="clearfix"></div>
        </div>
    </template>
</dom-module>
<script>
  Polymer({
        is: "pd-card",
        properties: {
            head: {
                type: String,
                value: "",
                reflectToAttribute: true,
                notify: true
            },
            fill:{
                type:Boolean,
                value:false,
                reflectToAttribute:true,
                notify:true
            },
            fillClasses:{
                type:String,
                computed:"_computeFill(fill)"
            }
        },
        _computeFill:function(fill){
            if(fill == false)
                return "p-t-0-5 p-l-1 p-r-1 p-b-0-5";
            else
                return "";
        },
        ready: function () {
        }
  });
</script>