<link rel="import" href="../../../components/pd-list/pd-list-item-friend.html" />
<link rel="import" href="../../../components/pd-repo/pd-repo-friends.html" />

<dom-module id="pd-drawer-friends">
    <style>
        ul,li{
            list-style-type: none;
            margin:0;
            padding:0;
        }
    </style>
    <template>
        <pd-repo-friends id="repo"></pd-repo-friends>
        <div class="m-t-2">
            <ul>
            <template is="dom-repeat" items="{{friends}}">
                <li>
                    <a href="{{item.href}}">
                        <pd-list-item-friend name="{{item.name}}" status="{{item.status}}" icon="face" selected="{{item.selected}}"></pd-list-item-friend>
                    </a>
                </li>
            </template>
            </ul>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-drawer-friends",
        properties:{
            friends:{
                type:Array,
                value:[],
                notify:true
            }
        },
        ready: function () {
            var self = this;
            this.$.repo.$.context.getData().addEventListener("pd-data-updated-model.profile", function (event) {
                self.$.repo.getFriends();
            });
            this.$.repo.$.context.getData().addEventListener("pd-data-updated-model.route", function (event) {
                for(var i=0;i<=self.friends.length - 1;i++){
                    if(self.friends[i].href == event.detail.value || self.friends[i].href == "#" + event.detail.value){
                        self.set('friends.' + i + '.selected', true);
                    }else{
                        self.set('friends.' + i + '.selected', false);
                    }
                }
            });
            this.$.repo.$.context.getData().addEventListener("pd-data-updated-model.friends", function (event) {
                var friends = event.detail.value;
                var route = self.$.repo.$.context.getData().model.route;
                for(var i=0;i<=friends.length - 1;i++){
                    friends[i].href = "#!/thread/" + friends[i].username;
                    if(friends[i].href == route || friends[i].href == "#" + route) {
                        friends[i].selected = true;
                    }else{
                        friends[i].selected = false;
                    }
                }
                self.set("friends", friends);
            });
        }
    });
</script>