<link rel="import" href="../../../components/pd-list/pd-list-item-friend.html" />
<dom-module id="pd-drawer-friends">
    <pd-repo-friends id="repo"></pd-repo-friends>
    <style>

    </style>
    <template>
        <div class="m-t-2">
            <pd-list-item-friend name="Joy Johnson" status="Available" icon="face" href="/#!/thread/joy"></pd-list-item-friend>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-drawer-friends",
        properties:{
        },
        ready: function () {

        }
    });
</script>