<link rel="import" href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-item.html" />

<dom-module id="pd-ui-grid">
    <link rel="stylesheet" type="text/css"  href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-units.css">
    <link rel="stylesheet" type="text/css"  href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-responsive.css">
    <style>
        .pd-g, .pd-g /deep/ pd-ui-grid-item
        {
            box-sizing:border-box;
        }
        .pd-g {
            width: 100%;
            display: block;
            box-sizing:border-box;
        }
        :host{
            diplay:inherit;
            box-sizing:border-box;
        }
    </style>
    <template>
        <div id="grid" class$="{{paddingClass}}">
            <content></content>
            <div class="clearfix"></div>
        </div>
    </template>
</dom-module>
<script>
  Polymer({
      is: "pd-ui-grid",
      properties: {
          noPadding:{
              type:Boolean,
              value:false,
              notify:true,
              reflectToAttribute:true
          },
          paddingClass:{
              type:String,
              value:"",
              computed:"_computePaddingClass(noPadding)"
          }
      },
      _computePaddingClass:function(noPadding){
          if(noPadding){
              return "pd-g";
          }else{
              return "pd-g p-l-1 p-r-1";
          }
      },
      ready: function () {
      }
  });
</script>