<link rel="import" href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-item.html" />

<dom-module id="pd-ui-grid">
    <link rel="stylesheet" type="text/css"  href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-units.css">
    <link rel="stylesheet" type="text/css"  href="../../../components/pd-ui/pd-ui-grid/pd-ui-grid-responsive.css">
    <style>
        .pd-g {
            width: 100%;
            display: block;
        }
        .clearfix{
            clear:both;
        }
    </style>
    <template>
        <div id="grid" class="pd-g p-l-0-5 p-r-0-5">
            <content></content>
            <div class="clearfix"></div>
        </div>
    </template>
</dom-module>
<script>
  Polymer({
      is: "pd-ui-grid",
      properties: {
      },
      ready: function () {
      }
  });
</script>