<dom-module id="pd-ui-grid-item">
    <style>
        *{
            word-wrap: break-word;
        }
    </style>
    <template>
        <div class$="{{gridClasses}}">
            <content></content>
        </div>
    </template>
</dom-module>
<script>
  Polymer({
      is: "pd-ui-grid-item",
      properties: {
          large: {
              type: String,
              value: "24",
              reflectToAttribute: true
          },
          medium: {
              type: String,
              value: "24",
              reflectToAttribute: true
          },
          small: {
              type: String,
              value: "24",
              reflectToAttribute: true
          },
          customClass:{
              type:String,
              value:"",
              reflectToAttribute: true,
              notify:true
          }
      },
      observers: [
        '_computeClasses(small, medium, large, customClass)'
      ],
      ready: function () {
          if(this.customClass == null){
              this.customClass = "";
          }
      },
      _computeClasses: function (small, medium, large, customClass) {
          this.className = customClass + " pd-u-xl-" + large + "-24 pd-u-lg-" + large + "-24 pd-u-md-" + medium + "-24 pd-u-sm-" + small + "-24";
      }
  });
</script>