<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="../../components/pd-table/pd-table-header.html" />
<link rel="import" href="../../components/pd-table/pd-table-header-row.html" />
<link rel="import" href="../../components/pd-table/pd-table-footer.html" />
<link rel="stylesheet" type="text/css" href="../../components/pd-table/pd-table-responsive.css" />

<dom-module id="pd-table">
    <link rel="import" type="css" href="../../components/pd-table/pd-table.css"/>
    <style>
        :host /deep/ .alternate /deep/ .row:nth-child(even) /deep/ paper-checkbox #checkmark.paper-checkbox{
            border-color: var(--color-neutral);
        }
        :host /deep/ .row:nth-child(even){
            background-color: var(--color-neutral) !important;
        }
        :host /deep/ .selected, :host /deep/ .row:nth-child(even).selected{
            background-color: var(--primary-color-highlight) !important;
        }
        :host /deep/ .header-row{
            font-weight: 400;
            border-bottom:1px solid;
            border-color:var(--color-neutral);
        }
    </style>
    <template>
        <div class$="{{tableClasses(numSelected,alternate)}}">

            <pd-table-header id="header" head="[[head]]" searchable="[[searchable]]" num-selected$="{{numSelected}}"></pd-table-header>

            <div id="table">
                <div id="tableHead" class="row header-row">
                    <pd-table-header-row id="headerRow" headers="[[headers]]"></pd-table-header-row>
                </div>
                <div id="tableBody">
                    <content id="tableContent"></content>
                </div>
            </div>

            <pd-table-footer pagination="{{pagination}}"></pd-table-footer>

        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-table",
        properties: {
            headers:{
                type:Array,
                notify:true,
                reflectToAttribute:true
            },
            data:{
                type:Array,
                notify:true,
                value:function(){
                    return [];
                },
                reflectToAttribute:true
            },
            numSelected:{
                type:Number,
                notify: true
            },
            alternate:{
                type:Boolean,
                value:false,
                reflectToAttribute:true
            },
            initialized:{
                type:Boolean,
                value:false
            },
            searchable:{
                type:Boolean,
                value:false,
                reflectToAttribute:true
            },
            pagination:{
                type:Object,
                value:function(){
                    return {
                        pageSize: 10,
                        page: 1,
                        total: 0
                    }
                },
                notify:true,
                reflectToAttribute:true
            }
        },
        observers: [
            'dataChanged(data.*)',
            'pageChanged(pagination.page,pagination.pageSize,pagination.total)'
        ],
        pageChanged:function(page,pageSize,total){
            this.fire('pageChanged');
        },
        tableClasses:function(numSelected,alternate){
            var classes = [];
            if(numSelected > 0)
                classes.push("checkboxSelected");
            if(alternate)
                classes.push("alternate");
            classes.push("table");
            return classes.join(" ");
        },
        dataChanged:function(){
            var self = this;
            self.numSelected = 0;
            for(var i = 0;i <= self.data.length - 1; i++){
                if(self.data[i].selected){
                    self.numSelected += 1;
                }
            }
            if(!self.initialized){
                self.initialized = true;
                self.init();
            }
            var el = self.$.tableBody.querySelector(".style-scope");
            if(el != null){
                el.setAttribute("data", JSON.stringify(self.data));
            }
        },
        getItem:function(id){
            var self = this;
            for(var i=0; i <= self.data.length - 1; i++){
                if(self.data[i].id == id){
                    return self.data[i];
                }
            }
        },
        deleteItems:function(){
            var self = this;
            var deleteIDs = [];
            for(var i=0;i<=self.data.length-1;i++){
                if(self.data[i].selected){
                    deleteIDs.push(self.data[i].id);
                }
            };
            self.fire('deleteItems',deleteIDs);
        },
        toggleAll:function(checked){
            var self = this;
            for(var i=0; i<=self.data.length - 1; i++){
                self.set("data." + i +".selected",checked);
            }
        },
        templateDataChanged:function(){
            self.data = self.templateElement.data;
        },
        init: function(){
            var self = this;
            for(var i=0; i<=self.data.length - 1; i++){
                self.set("data." + i +".selected",false);
            }
            var el = self.$.tableBody.querySelector(".style-scope");
            if(el != null) {
                el.addEventListener("templateDataChanged", function () {
                    self.data = el.data;
                    self.dataChanged();
                });
            }
            self.$.header.addEventListener("deleteItemsHead", function(){
                self.deleteItems();
            });
            self.$.headerRow.addEventListener("toggleAll", function(e){
                self.toggleAll(e.detail);
            });
        }
    });
</script>