<dom-module id="pd-table-header-row">
    <style>
        .sortable {
            cursor:pointer;
        }
        paper-icon-button{
            position:relative;
        }
        .icon-sort{
            position: absolute;
            right: 0.1em;
            top: 0.5em;
        }
        .icon-enable{
            color:var(--color-neutral-text-dark);
        }
    </style>
    <template>
        <pd-ui-grid no-padding>
            <pd-ui-grid-item custom-class="t-center" large="2" medium="2" small="2"><paper-checkbox id="toggleAll" on-click="toggleAll"></paper-checkbox></pd-ui-grid-item>
            <template is="dom-repeat" items="{{headers}}" index-as="key_no">
                <div class$="{{sortableClass(item.sortable)}}" data-sort$="{{item.param}}" on-click="sort">
                    <pd-ui-grid-item custom-class="p-relative p-r-2" large="{{item.grid}}" medium="{{item.grid}}" small="{{item.grid}}">
                        <span class=" ">{{item.name}}</span>
                        <template is="dom-if" if="{{showSortableOption(item.param, sortBy)}}">
                            <paper-icon-button class="icon-sort icon-enable" icon="sort"></paper-icon-button>
                        </template>
                        <template is="dom-if" if="{{showSortableDir(item.param, sortBy)}}">
                            <template is="dom-if" if="{{showSortableDirAsc(sortDir)}}">
                                <paper-icon-button class="icon-sort" icon="expand-less"></paper-icon-button>
                            </template>
                            <template is="dom-if" if="{{showSortableDirDesc(sortDir)}}">
                                <paper-icon-button class="icon-sort" icon="expand-more"></paper-icon-button>
                            </template>
                        </template>
                    </pd-ui-grid-item>
                </div>
            </template>
        </pd-ui-grid>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-table-header-row",
        properties:{
            headers:{
                type:Array,
                notify:true
            },
            sortBy:{
                type:String,
                value:"",
                notify:true
            },
            sortDir:{
                type:String,
                value:"ASC",
                notify:true
            }
        },
        sortableClass:function(sortable){
            if(sortable)
                return "sortable";
            return "";
        },
        showSortableDirAsc:function(sortDir){
            if(sortDir == 'ASC')
                return true;
            return false;
        },
        showSortableDirDesc:function(sortDir){
            if(sortDir == 'DESC')
                return true;
            return false;
        },
        showSortableOption:function(item, sortBy){
            if(item != sortBy){
                return true;
            }
            return false;
        },
        showSortableDir:function(item, sortBy){
            if(item == sortBy){
                return true;
            }
            return false;
        },
        sort:function(e){
            var self = this;
            var target = Polymer.dom(e);
            for(var i=0;i<=target.path.length - 1;i++){
                if(typeof target.path[i].hasAttribute == 'function' && target.path[i].hasAttribute("data-sort")){
                    var sortAttr = target.path[i].getAttribute("data-sort");
                    if(sortAttr != self.sortBy){
                        self.sortBy = sortAttr;
                        self.sortDir = 'ASC';
                    }else{
                        self.toggleDir();
                    }
                    break;
                }
            }
            this.fire("sort", {sortBy:self.sortBy, sortDir:self.sortDir});
        },
        toggleDir:function(){
            if(this.sortDir == 'ASC')
                this.sortDir = 'DESC';
            else
                this.sortDir = 'ASC';
        },
        toggleAll:function(){
            this.fire("toggleAll",this.$.toggleAll.checked);
        },
        ready:function(){
        }
    });
</script>