
<dom-module id="pd-select">
    <link rel="import" type="css" href="../../components/pd-select/pd-select.css"/>
    <style>
        .select-body .line:hover{
            background-color: var(--color-neutral-dark);
        }
        .selectToggled .label{
            color: var(--primary-color);
        }
        .selectToggled .select-action{
            border-bottom-color: var(--primary-color);
            border-bottom-width: 2px;
        }
        #toggleAnimation{
            background-color: var(--color-neutral-text-bg);
            border-left:1px solid var(--color-neutral-text-dark);
            border-right:1px solid var(--color-neutral-text-dark);
            border-bottom:1px solid var(--color-neutral-text-dark);
        }
    </style>
    <template>
        <div id="pdSelector" class$="{{toggledClass}}">
            <div class="select-wrap p-relative m-t-0-5 m-b-1">
                <label class="label p-b-0-5" hidden$="[[!label]]">[[label]]</label>
                <div class="select-action  p-b-0-2" on-click="toggle">
                    <template is="dom-if" if="{{selectedEmpty}}">
                        <span class="label">(Select <span>{{label}}</span>)</span>
                    </template>
                    <template is="dom-if" if="{{!selectedEmpty}}">
                        <span class="selectedOption">{{value}}</span>
                    </template>
                    <span class="expand-icon">
                        <iron-icon icon="expand-more"></iron-icon>
                    </span>
                </div>
                <div  id="toggleAnimation">
                <div class="select-body c-text-bgs">
                    <template is="dom-repeat" items="{{options}}">
                        <div class="line">
                            <div class=" p-1" data-select$="{{item}}" on-click="selectItem">{{item}}</div>
                        </div>
                    </template>
                </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-select",
        properties: {
            label:{
                type:String,
                value:"",
                reflectToAttribute:true
            },
            options:{
                type:Array,
                notify: true,
                reflectToAttribute: true
            },
            selectedEmpty:{
                type:Boolean,
                value:false,
                computed:"_computeSelectedEmpty(value)"
            },
            value:{
                type:String,
                value:"",
                notify:true,
                reflectToAttribute: true
            },
            selectToggled:{
                type:Boolean,
                value:false,
                notify:true
            },
            toggledClass:{
                type:String,
                value:"",
                computed:"_computetoggledClass(selectToggled)",
                notify:true
            }
        },
        _computeSelectedEmpty:function(selected){
            if(selected == null || selected == "" || this.options.indexOf(selected) == -1)
                return true;
            return false;
        },
        _computetoggledClass:function(toggled){
            if(toggled){
                this.$.toggleAnimation.style.display = "inline-block";//.show();
            }else{
                this.$.toggleAnimation.style.display = "none";//.hide();
            }
            if(toggled){
                return "selectToggled";
            } else {
                return "";
            }
        },
        selectItem:function(e){
            this.value = e.target.getAttribute('data-select');
            this.selectToggled = false;
        },
        toggle:function(){
            this.selectToggled = !this.selectToggled;
        },
        ready:function(){
            var self = this;
            if(this.value == null)
                this.set("value","");
            document.body.addEventListener('click',function () {
                self.selectToggled = false;
            });
            this.$.pdSelector.querySelector(".select-wrap").onclick = function(event){
                event.preventDefault();
                event.stopPropagation();
                return;
            };
            this.$.pdSelector.querySelector(".select-body").onclick = function(event){
                event.preventDefault();
                event.stopPropagation();
                return;
            };
        }
    });
</script>