<link href="../../bower_components/paper-input/paper-input.html" rel="import"/>
<link href="../../bower_components/paper-fab/paper-fab.html" rel="import"/>
<link href="../../bower_components/paper-button/paper-button.html" rel="import"/>
<link href="../../components/pd-select/pd-select.html" rel="import"/>
<link href="../../bower_components/neon-animation/neon-animations.html" rel="import" />
<link href="../../bower_components/neon-animation/neon-animated-pages.html" rel="import"/>
<link href="../../components/pd-animation/pd-animation-dropdown.html" rel="import" />
<link href="../../components/pd-edit-panel/pd-edit-panel-global.css" type="text/css" rel="stylesheet" />

<dom-module id="pd-edit-panel">
    <link rel="import" type="css" href="../../components/pd-edit-panel/pd-edit-panel.css"/>
    <template>
        <div class$="{{toggledClass}}">
            <div class="edit-panel drawer-offset p-1 c-text-bg p-relative shadow-right">
                <div class="inner-edit-panel">
                    <h2 class="m-b-0">{{label}}</h2>
                    <content></content>
                    <div class="clearfix"></div>
                    <div class="f-right p-t-1">
                        <paper-button tabindex="0" raised on-click="saveItem">Save</paper-button>
                    </div>
                    <div class="closeBtn">
                        <div class="closeBtnInner">
                            <paper-fab on-click="togglePanel" icon="clear" title="clear" tabindex="0"></paper-fab>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>
<script>
Polymer({
    is: "pd-edit-panel",
    properties: {
        toggled:{
            type: Boolean,
            value: false,
            reflectToAttribute:true,
            notify:true
        },
        toggledClass:{
            type: String,
            computed: "_computeClass(toggled)",
            notify:true
        },
        label:{
            type: String,
            value: "",
            notify: true,
            reflectToAttribute: true
        }
    },
    saveItem:function(){
        this.fire('saveItem');
    },
    _computeClass:function(toggled){
        if(toggled){
            return "toggled";
        }
        return "";
    },
    showPanel:function(){
        var self = this;
        self.toggled = true;
    },
    hidePanel:function(){
        this.toggled = false;
    },
    togglePanel:function(){
        this.toggled = !this.toggled;
    },
    ready: function () {
    }
});
</script>