<link href="../../components/pd-repo/pd-context.html" rel="import" />
<link href="../../components/pd-repo/pd-repo-profile.html" rel="import" />
<dom-module id="pd-repo-friends">
    <template>
        <pd-context id="context"></pd-context>
        <iron-ajax id="ajax" url="{{service}}" handle-as="json" method="GET" on-response="getCallback" with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-repo-friends",
        properties: {
        },
        getFriends: function () {
            var self = this;
            if (self.$.context.getData().model.friends.length > 0) {
                return self.$.context.getData().model.friends;
            } else {
                self.$.ajax.url = self.$.context.service + "friends";
                self.$.ajax.params = {"username" : self.$.context.getData().model.profile.username};
                self.$.ajax.generateRequest();
            };
        },
        getCallback:function(response){
            if(response.detail.response.length > 0) {
                var friends = response.detail.response[0].friends;
                this.$.context.getData().update("friends", friends);
            }
        }
    });
</script>