<dom-module id="pd-repo-profile-table">
    <template>
        <pd-context id="context"></pd-context>
        <iron-ajax id="ajax"       url="{{service}}" handle-as="json" method="GET"    on-response="dataSelected" with-credentials="true"></iron-ajax>
        <iron-ajax id="ajaxDelete" url="{{service}}" handle-as="json" method="DELETE" on-response="itemDeleted"  with-credentials="true"></iron-ajax>
        <iron-ajax id="ajaxCreate" url="{{service}}" handle-as="json" method="POST"   on-response="itemCreated"  with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-repo-profile-table",
        properties:{
            itemsToDelete:{
                type:Number,
                value:0
            },
            itemsDeleted:{
                type:Number,
                value:0
            },
            selfCallback:{
                type:Object
            },
            responseCallback:{
                type:Object
            }
        },
        //GET /pages
        getData: function (callback, page, pageSize, searchParams, sortBy, sortDir, selfCallback) {
            var self = this;
            self.selfCallback = selfCallback;
            self.responseCallback = callback;
            self.$.ajax.params = {"_start":((page-1)*pageSize),"_end":(page*pageSize)};
            if(searchParams != null) {
                for (var key in searchParams) {
                    self.$.ajax.params[key] = searchParams[key];
                }
            }
            if(sortBy != "" && sortBy != null){
                self.$.ajax.params["_sort"] = sortBy;
                self.$.ajax.params["_order"] = sortDir;
            }
            self.$.ajax.url = self.$.context.service + "profiles";
            self.$.ajax.generateRequest();
        },
        dataSelected:function(response){
            var total = parseInt(response.detail.xhr.getResponseHeader("X-Total-Count"));
            if(this.responseCallback != null) {
                this.responseCallback(response.detail.response, total, this.selfCallback);
            }
        },
        deleteItems:function(callback,items,selfCallback){
            var self = this;
            self.itemsToDelete = items.length;
            self.itemsDeleted = 0;
            self.selfCallback = selfCallback;
            self.responseCallback = callback;
            for(var i=0; i<=items.length-1; i++){
                self.$.ajaxDelete.url = self.$.context.service + "profiles/" + items[i];
                self.$.ajaxDelete.generateRequest();
            }
        },
        itemDeleted:function(response){
            var self = this;
            self.itemsDeleted = self.itemsDeleted + 1;
            if(self.itemsDeleted == self.itemsToDelete){
                self.responseCallback(self.selfCallback);
            }
        },
        createItem:function(callback,item,selfCallback){
            var self = this;
            self.selfCallback = selfCallback;
            self.responseCallback = callback;
            self.$.ajaxCreate.url = self.$.context.service + "profiles";
            self.$.ajaxCreate.body = JSON.stringify(item);
            self.$.ajaxCreate.contentType = "application/json";
            self.$.ajaxCreate.generateRequest();
        },
        itemCreated:function(response){
            var self = this;
            self.responseCallback(self.selfCallback);
        }
    });
</script>