<dom-module id="pd-repo-menu">
    <template>
        <pd-context id="context"></pd-context>
        <iron-ajax id="ajax" url="{{service}}" handle-as="json"></iron-ajax>
    </template>
</dom-module>

<script>
  Polymer({
      is: "pd-repo-menu",
        properties: {
        },
        //GET /menus
        getMenu: function (title, callback, selfCallbak) {
            var self = this;
            var existingPages = self.getMenuCache(title);
            if (existingPages != null) {
                return existingPages;
            } else {
                var d = new Date();
                self.$.ajax.url = self.$.context.service + "menus?title=" + title;
                self.$.ajax.addEventListener('response', function (response) {
                    try {
                        self.$.context.getData().model.menus.push(response.detail.response[0]);
                        callback(response.detail.response[0].pages, selfCallbak);
                    } catch (e) {
                    }
                });
                self.$.ajax.generateRequest();
            };
        },
        getMenuCache: function (title) {
            var self = this;
            for (var i = 0; self.$.context.getData().model.menus.length; i++) {
                if (title == self.$.context.getData().model.menus[i].title) {
                    return self.$.context.getData().model.menus[i].pages;
                }
            }
            return null;
        },
        getMenuPages: function (title) {
            var self = this;
            for (var i = 0; self.$.context.getData().model.menus.length - 1; i++) {
                if (title == self.$.context.getData().model.menus[i].title) {
                    return self.$.context.getData().model.menus[i].pages;
                }
            }
        }
  });
</script>