<link rel="import" href="../../components/pd-repo/pd-context.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<dom-module id="pd-repo-auth">
    <template>
        <pd-context id="context"></pd-context>
        <iron-ajax id="ajax" url="{{service}}" method="POST" handle-as="json" on-response="responseCallback" with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-repo-auth",
        properties: {
            selfCallback:{},
            callback:{},
            user:{}
        },
        ready: function () {
        },
        login: function (user, callback, selfCallback) {
            var self = this;
            self.$.ajax.url = self.$.context.service + "auth/login";
            self.$.ajax.params = {"username": user.username, "password": user.password};
            self.selfCallback = selfCallback;
            self.callback = callback;
            self.user = user;
            self.$.ajax.generateRequest();
        },
        responseCallback: function(response){
            this.callback(response.detail.response, this.selfCallback);
        }
    });
</script>