<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html" />

<dom-module id="pd-table">
    <link href="../../components/pd-table/pd-table.css" rel="import" type="css"/>
    <style>
        .alternate /deep/ .row:nth-child(even) paper-checkbox /deep/ #checkmark.paper-checkbox{
            border-color: var(--color-neutral);
        }
        .alternate /deep/ .row:nth-child(even){
            background-color: var(--color-neutral);
        }
        .checkboxSelected .head{
            background-color:#edf4fd;
        }
        #tableBody /deep/ .selected{
            background-color: var(--primary-color-highlight);
        }
        .header-row{
            font-weight: 400;
            border-bottom:1px solid var(--color-neutral);
        }
    </style>
    <template>
        <div class$="{{checkboxSelected(numSelected,alternate)}}">
            <div class="head p-t-0-5 p-r-0-5 p-b-1 p-l-1">
                <h2 class="f-left m-0 p-t-0-5 p-l-0-5">
                    <span class="headTitle">{{head}}</span>
                    <span class="headNum">
                        <span>{{numSelected}}</span> selected
                    </span>
                </h2>
                <paper-icon-button class="m-t-0-1 f-right" icon="add" on-click="addItem"></paper-icon-button>
                <div class="f-right headOptions p-t-0-1">
                    <div>
                        <paper-icon-button class="f-left" icon="delete" on-click="deleteItems"></paper-icon-button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="table">
                <pd-ui-grid no-padding>
                    <div class="row header-row">

                        <pd-ui-grid-item custom-class="t-center" large="2" medium="2" small="2"><paper-checkbox id="toggleAll" on-click="toggleAll"></paper-checkbox></pd-ui-grid-item>
                        <template is="dom-repeat" items="{{headers}}" index-as="key_no">
                            <pd-ui-grid-item large="{{cellGrid(key_no)}}" medium="{{cellGrid(key_no)}}" small="{{cellGrid(key_no)}}">{{item.name}}</pd-ui-grid-item>
                        </template>
                        <div class="clearfix"></div>

                    </div>
                    <div id="tableBody">
                        <content id="tableContent"></content>
                    </div>
                </pd-ui-grid>
            </div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-table",
        properties: {
            headers:{
                type:Array,
                notify:true,
                reflectToAttribute:true
            },
            data:{
                type:Array,
                notify:true,
                value:function(){
                    return [];
                },
                reflectToAttribute:true
            },
            dataParams:{
                type:Array,
                notify:true
            },
            numSelected:{
                type:Number,
                notify: true
            },
            alternate:{
                type:Boolean,
                value:true,
                reflectToAttribute:true
            },
            initialized:{
                type:Boolean,
                value:false
            }
        },
        observers: [
            'dataChanged(data.*)'
        ],
        checkboxSelected:function(numSelected,alternate){
            var classes = [];
            if(numSelected > 0)
                classes.push("checkboxSelected");
            if(alternate)
                classes.push("alternate");
            classes.push("table");
            return classes.join(" ");
        },
        cellGrid:function(key){
            return this.headers[key].grid;
        },
        dataChanged:function(){
            var self = this;
            self.dataParams = [];
            if(self.data.length > 0){
                var item = self.data[0];
                for(var prop in item){
                    self.dataParams.push(prop);
                }
            }
            self.numSelected = 0;
            for(var i = 0;i <= self.data.length - 1; i++){
                if(self.data[i].selected){
                    self.numSelected += 1;
                }
            }
            if(!self.initialized){
                self.initialized = true;
                self.init();
            }
            var el = self.$.tableBody.childNodes[0].nextElementSibling;
            if(el != null){
                el.setAttribute("data", JSON.stringify(self.data));
            }
        },
        getItem:function(id){
            var self = this;
            for(var i=0; i <= self.data.length - 1; i++){
                if(self.data[i].id == id){
                    return self.data[i];
                }
            }
        },
        addItem:function(){
            this.fire("addItem");
        },
        deleteItems:function(){
            var self = this;
            var deleteIDs = [];
            for(var i=0;i<=self.data.length-1;i++){
                if(self.data[i].selected){
                    deleteIDs.push(self.data[i].id);
                }
            };
            self.fire('deleteItems',deleteIDs);
        },
        toggleAll:function(){
            var self = this;
            for(var i=0; i<=self.data.length - 1; i++){
                self.set("data." + i +".selected",self.$.toggleAll.checked);
            }
        },
        templateDataChanged:function(){
            self.data = self.templateElement.data;
        },
        init: function(){
            var self = this;
            for(var i=0; i<=self.data.length - 1; i++){
                self.set("data." + i +".selected",self.$.toggleAll.checked);
            }
            var el = self.$.tableBody.childNodes[0].nextElementSibling;
            el.addEventListener("templateDataChanged",function(){
                self.data = el.data;
                self.dataChanged();
            });
        },
        ready:function(){
        }
    });
</script>