<dom-module id="pd-ui-toggle">
    <template>
        <link rel="stylesheet" type="text/css" href="pd-ui-toggle.css"/>
        <div id="toggleArea">
            <div on-click="toggleAction">
                <content select=".toggle-trigger"></content>
                <template is="dom-if" if="{{toggleIcon}}">
                    <iron-icon class="toggle-icon" icon="hardware:keyboard-arrow-down" name="hardware:keyboard-arrow-down"></iron-icon>
                </template>
            </div>
            <div class="inline-height toggle-body">
                <content select=".toggle-body"></content>
            </div>
        </div>
</template>
</dom-module>
<script>
  Polymer({
      is: "pd-ui-toggle",
      properties: {
          toggleStatus: {
              type: Boolean,
              value: false,
              reflectToAttribute: true,
              observer: "toggleStatusChange"
          },
          toggleClasses: {
              type: String,
              computed: '_computeClasses(toggleStatus)'
          },
          toggleIcon: {
              type: Boolean,
              value: false,
              reflectToAttribute: true,
              notify:true
          }
      },
      ready: function () {
          var self = this;
          self.async(function () {
              self.fixHeights();
          }, 500);
      },
      _computeClasses: function (toggleStatus) {
          var returnStr = "";
          if (toggleStatus)
              returnStr += "toggled";
          return returnStr;
      },
      toggleAction: function (event) {
          var self = this;
          self.toggleStatus = !self.toggleStatus;
      },
      toggleStatusChange: function (value) {
          var self = this;
          self.fixHeights();
      },
      fixHeights: function () {
          var self = this;
          var heightFixes = Polymer.dom(self.$.toggleArea).querySelectorAll(".inline-height");
          for (i = 0; i < heightFixes.length; i++) {
              if (self.toggleStatus) {
                  heightFixes[i].style.height = heightFixes[i].scrollHeight + "px";
                  heightFixes[i].style.maxHeight = heightFixes[i].scrollHeight + "px";
              } else {
                  heightFixes[i].style.height = "0px";
                  heightFixes[i].style.maxHeight = "0px";
              }
          }
      }
  });
</script>
