<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<dom-module id="pd-context">
    <template></template>
</dom-module>

<script>
  Polymer({
      is: "pd-context",
        properties: {
            data: {
                type: Object,
                value: {}
            },
            service: {
                type: String,
                value: "",
                reflectToAttribute: true,
                notify:true
            }
        },
        attached  : function () {
            this.setupContext();
        },
        ready:function(){
            this.setupContext();
        },
        getData: function () {
            this.setupContext();
            return window.document.querySelector("pd-data#pd-data");
        },
        setupContext: function () {
            var self = this;
            if (!window.document.querySelector("pd-data#pd-data")) {
                var div = document.createElement("div");
                div.innerHTML = "<pd-data id='pd-data' service='" + self.service + "'></pd-data>";
                window.document.body.appendChild(div.childNodes[0]);
                self.data.service = self.service;
            }
            self.data = window.document.querySelector("pd-data#pd-data");
            self.service = self.data.getAttribute('service');
        }
  });
</script>