<link href="../../components/pd-repo/pd-context.html" rel="import" />
<dom-module id="pd-repo-profile">
    <template>
        <pd-context id="context"></pd-context>
        <iron-ajax id="ajax" url="{{service}}" handle-as="json" method="GET" on-response="getProfileCallback" with-credentials="true"></iron-ajax>
        <iron-ajax id="saveProfileRequest" url="{{service}}" handle-as="json" method="POST" on-response="saveProfileCallback" with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-repo-profile",
        properties: {
            selfCallback:{},
            callback:{}
        },
        ready: function () {
        },
        getProfile: function (callback, selfCallback) {
            var self = this;
            if (self.$.context.getData().model.profile != null) {
                return self.$.context.getData().model.profile;
            } else {
                self.$.ajax.url = self.$.context.service + "profile";
                self.callback = callback;
                self.selfCallback = selfCallback;
                self.$.ajax.generateRequest();
            };
        },
        getProfileCallback:function(response){
            this.$.context.getData().update("profile", response.detail.response);
        }
    });
</script>