<link rel="import" href="../../components/pd-repo/pd-context.html" />
<link rel="import" href="../../components/pd-realtime/pd-realtime-client.html" />
<dom-module id="pd-repo-chat">
    <template>
        <pd-context id="context"></pd-context>
        <pd-realtime-client id="realtime"></pd-realtime-client>
        <iron-ajax id="ajax" url="{{service}}" method="GET" handle-as="json" on-response="responseCallback" with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-repo-chat",
        properties: {
            selfCallback:{},
            callback:{},
            user:{}
        },
        ready: function () {
            var self = this;
            self.messageReceivedSetup();
        },
        messageReceivedSetup: function(){
            var self = this;
            this.$.realtime.getSocket().on('chat message', function(msg){
                var msgObj = JSON.parse(msg);
                self.fire("messageReceived", msgObj);
            });
        },
        sendMessage:function(message){
            var username = this.$.context.getData().model.profile.username;
            var now = new Date();
            var jsonMessage = JSON.stringify({'user':username, 'message': message, 'datetime':now});
            this.$.realtime.socket.emit('chat message', jsonMessage);
        },
        getThread: function (users, callback, selfCallback) {
            var self = this;
            self.$.ajax.url = self.$.context.service + "threads";
            self.$.ajax.params = {"users": users.sort().join(",")};
            self.selfCallback = selfCallback;
            self.callback = callback;
            self.$.ajax.generateRequest();
        },
        responseCallback: function(response){
            this.callback(response.detail.response[0], this.selfCallback);
        }
    });
</script>