@import '../../css/vars.scss';

.edit-panel{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:350px;
    transition: transform ease-in-out 0.3s;
}

.edit-panel{
    transform:translate(-1000px);
}

.toggled .edit-panel{
    transform:translate(0);
}

.closeBtn{
    position:absolute;
    right:0px;
    top:0px;
}
.closeBtnInner{
    margin-top:30%;
    margin-left:50%;
}

@media (max-width: $tablet-mode) {
    .edit-panel{
        width:100%;
    }
    .closeBtnInner{
        right:100%;
        margin-left:0;
        margin-top:$p-1;
        margin-right:$p-1;
    }
}