@import '../../css/vars.scss';

.edit-panel{
  z-index: 2;
  position:fixed;
  top:4em;
  height:100%;
  width:330px;
  transition: transform ease-in-out 0.3s;
  box-sizing:border-box;
  left:0;
}

.edit-panel{
  transform:translate(-200%);
}

.toggled .edit-panel {
  transform:translateX(0);
}

.closeBtn{
  position: absolute;
  top: -1em;
  right: -2.7em;
}


.inner-edit-panel{
  position: relative;
  left:0em;
}

@media (max-width: $tablet-mode) {
    .edit-panel{
        width:100%;
    }
    .closeBtn{
        right:0em;
    }
}