<link href="../../bower_components/paper-input/paper-input.html" rel="import"/>
<link href="../../bower_components/paper-fab/paper-fab.html" rel="import"/>
<link href="../../bower_components/paper-button/paper-button.html" rel="import"/>

<dom-module id="pd-edit-panel">
    <link rel="import" type="css" href="../../components/pd-edit-panel/pd-edit-panel.css"/>
    <template>
        <div class$="{{toggledClass}}">
            <div class="edit-panel drawer-offset p-1 c-n p-relative">
                <h2>Item</h2>
                <paper-input label="First Name"></paper-input>
                <paper-input label="Last Name"></paper-input>
                <iron-selector selected="0">
                    <div>Item 1</div>
                    <div>Item 2</div>
                    <div>Item 3</div>
                </iron-selector>

                <div class="f-right">
                    <paper-button tabindex="0" raised>Save</paper-button>
                </div>

                <div class="closeBtn">
                    <div class="closeBtnInner">
                        <paper-fab on-click="togglePanel" icon="clear" title="clear" tabindex="0"></paper-fab>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
Polymer({
    is: "pd-edit-panel",
    properties: {
        toggled:{
            type: Boolean,
            value: false,
            reflectToAttribute:true,
            notify:true
        },
        toggledClass:{
            type: String,
            computed: "_computeClass(toggled)",
            notify:true
        }
    },
    _computeClass:function(toggled){
        if(toggled){
            return "toggled";
        }
        return "";
    },
    togglePanel:function(){
        this.toggled = !this.toggled;
    },
    ready: function () {
    }
});
</script>