<link href="../../../components/pd-repo/pd-repo-page.html" rel="import" />
<script src="../../../bower_components/xregexp/min/xregexp-all-min.js"></script>
<dom-module id="pd-drawer-main">
    <template>
        <iron-ajax id="ajax" url="" handle-as="document" progress="{{progress}}"></iron-ajax>
        <pd-repo-page id="repo"></pd-repo-page>
        <div id="main"></div>
    </template>
</dom-module>
<script>
  Polymer({
      is: "pd-drawer-main",
      properties:{
          pages:{
              type:Array,
              value:[]
          },
          template: {
              type: String,
              value: "",
              observer: "loadTemplate",
              notify:true
          },
          progress: {
              type: Number,
              observer: "progressChanged",
              notify:true
          }
      },
      progressChanged: function () {
          this.$.repo.$.context.getData().update("progress",this.progress);
      },
      ready: function () {
          var self = this;
          self.async(function(){
              self.$.repo.getPages(self.pageCallback,self);
          },0);
          self.$.repo.$.context.getData().addEventListener("pd-data-updated-model.route", function (event) {
              self.getPathFromPages(event.detail.value);
          });
          self.$.ajax.addEventListener('request', function (response) {
              self.$.repo.$.context.getData().update("progress", 50);
          });
          self.$.ajax.addEventListener('response', function (response) {
              try {
                  self.async(function () {
                      var links = response.detail.response.head.querySelectorAll("link");
                      for (var i = 0; i <= links.length - 1; i++) {
                          if (!document.head.innerHTML.contains(links[i].href.toLowerCase())) {
                              var l = document.createElement('link');
                              l.rel = 'import';
                              l.href = links[i].href.toLowerCase();
                              l.onload = function(){
                                  //console.log("loaded");
                              };
                              document.head.appendChild(l);
                          }
                      }
                      l = document.createElement('div');
                      l.innerHTML = response.detail.response.body.innerHTML;
                      self.$.main.appendChild(l);
                      self.$.repo.$.context.getData().update("progress", 100);
                  }, 0);
              } catch (e) {
              }
          });
      },
      pageCallback:function(pages,self){
          self.pages = pages;
          self.getPathFromPages(self.$.repo.$.context.getData().model.route);
      },
      getPathFromPages: function (route) {
          var self = this;
          for (var i = 0; i <= self.pages.length - 1; i++) {
              var url = self.pages[i].url;
              url = url.replace(/:(.*?)\//,"(?<$1>.*?)/")
                      .replace(/:(.*?)$/,"(?<$1>.*?)")
                      .replace("#","")
                      .replaceAll("/","\\/");
              url = "^" + url + "$";

              var regex = XRegExp(url);
              var isfound = XRegExp.exec(route, regex);
              if(isfound){
                  var routeParams = {};
                  var queryParams = [];
                  var paramStarted = false;
                  for(var param in isfound){
                      if(paramStarted) {
                          routeParams[param] = isfound[param];
                          queryParams.push(param + "=" + isfound[param]);
                      }
                      if(param == "input")
                        paramStarted = true;
                  }
                  self.$.repo.$.context.getData().update("routeParams", routeParams);
                  self.template = self.pages[i].template + "?" + queryParams.join("&");
              }
          }
      },
      loadTemplate: function () {
          var pageTemplate = "";
          var self = this;
          if (self.template == "" || self.template == null)
              return;
          self.loadHtml(self.template);
      },
      loadHtml: function (url) {
          var self = this;
          self.$.main.innerHTML = "";
          self.$.ajax.url = url;
          self.$.ajax.generateRequest();

      }
  });
</script>